<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feature</key>
		<string>Remove Ad</string>
		<key>description</key>
		<string>Remove Ad.</string>
		<key>forsale</key>
		<true/>
	</dict>
	<dict>
		<key>feature</key>
		<string>List management</string>
		<key>description</key>
		<string>Add more lists.</string>
		<key>forsale</key>
		<true/>
	</dict>
	<dict>
		<key>feature</key>
		<string>Checklist History</string>
		<key>description</key>
		<string>Checklist History to Evernote.</string>
		<key>forsale</key>
		<false/>
	</dict>
</array>
</plist>
