<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feature</key>
		<string>広告削除</string>
		<key>description</key>
		<string>広告表示を削除します。</string>
		<key>forsale</key>
		<true/>
	</dict>
	<dict>
		<key>feature</key>
		<string>リストの管理</string>
		<key>description</key>
		<string>複数リストの作成とチェック項目のグループ化ができるようになります。</string>
		<key>forsale</key>
		<true/>
	</dict>
	<dict>
		<key>feature</key>
		<string>チェック記録の保存</string>
		<key>description</key>
		<string>Evernoteにチェック記録を残すことができるようになります。</string>
		<key>forsale</key>
		<false/>
	</dict>
</array>
</plist>
